/* _content/HormonaCrecimiento.App.frontEnd/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


a.navbar-brand[b-ojmbk5totp] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color:  #8e2de2;
}

a[b-ojmbk5totp] {
  color:  #8e2de2;
}

.btn-primary[b-ojmbk5totp] {
  color: #fff;
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}

.nav-pills .nav-link.active[b-ojmbk5totp], .nav-pills .show > .nav-link[b-ojmbk5totp] {
  color: #fff;
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}

.border-top[b-ojmbk5totp] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ojmbk5totp] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ojmbk5totp] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


button.accept-policy[b-ojmbk5totp] {
  font-size: 1rem;
  line-height: inherit;
}
.abs-center[b-ojmbk5totp] {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.footer[b-ojmbk5totp] {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
