@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}




        <div class="row">
            <div class="col-12">
                <img src="~/images/logo.svg" class="img-fluid" alt="logo hormonacrecimiento"> 

            </div>
        </div>
           
        
    

        